In [1]:
a={}
type(a)

dict

In [2]:
b={1,2}
type(b)

set

In [3]:
def e_or_o(a):
    b=50
    print(a+b)
e_or_o(10)

60

In [4]:
def n(i):
    if i%2==0:
        print("even")
    else:
        print("odd")
        
n(10)

even

In [5]:
n(11)

odd

In [6]:
Y=[1,3,4,6,7,9,10, 4+7j, "Hello world", [2000,3000,1000]]
Y[9][1]

3000

In [10]:
g=["2022-09-03"]
g[0:9]

['2022-09-03']

In [11]:
square_dictionary = {1:1, 2:4, 3:9}
square_dictionary.
square_dictionary

SyntaxError: invalid syntax (Temp/ipykernel_2788/3819048438.py, line 2)

In [15]:
str_1="Hello,please meet me at 4pm @coffeehouseccd or email me python@gmail.com"
str_1[56:68]

'python@gmail'

In [19]:
a=10
b=20
c=lambda x ,y:x+y
print(c(a,b))

30

In [18]:
a=10
b=20
c=lambda a,b:a+b
print(a,b)

10 20

In [ ]:
a=10
b=20
c=lambda x ,y:x+y
print(c(a,b))

## Creating a empty dictionary

In [20]:
em_dict={}
print(type(em_dict))

<class 'dict'>

In [21]:
em_dict={1,2}
print(type(em_dict))

<class 'set'>

## Creating simple dictionary

In [22]:
dict1={"Name":"Rahul","Age":22,"Gender":"Male"}
print(dict1)
print()
print(type(dict1))

{'Name': 'Rahul', 'Age': 22, 'Gender': 'Male'}

<class 'dict'>

## Creating more values inside the dictionary using list

In [23]:
dict2={"Names":["Rahul","Supriya","Shankar"],"Age":[22,21,25],"Gender":["Male","Female","Male"]}
print(dict2)
print()
print(type(dict2))

{'Names': ['Rahul', 'Supriya', 'Shankar'], 'Age': [22, 21, 25], 'Gender': ['Male', 'Female', 'Male']}

<class 'dict'>

In [24]:
#It will also run the code if u dont have same length in the dictionary inside
dict2={"Names":["Rahul","Supriya","Shankar"],"Age":[22,21],"Gender":["Male","Female","Male"]}
print(dict2)                                        #^^^^
print()
print(type(dict2))

{'Names': ['Rahul', 'Supriya', 'Shankar'], 'Age': [22, 21], 'Gender': ['Male', 'Female', 'Male']}

<class 'dict'>

### Accessing the values by using keys in the dictionary

In [25]:
a = {'India':['ROhit_Sharma','DK',"Dhoni"],'Pak':['Babar','Inzumam','shadi_afradi'],
     'Austrlia':['fintch','Symomns','Ricky_poting']}

In [26]:
a["India"]

['ROhit_Sharma', 'DK', 'Dhoni']

In [27]:
a["Austrlia"]

['fintch', 'Symomns', 'Ricky_poting']

In [28]:
a['Pak']

['Babar', 'Inzumam', 'shadi_afradi']

## !!! WE CANT ACCESS VALUES BY USING INDEXING METHOD

In [29]:
a[0]

KeyError: 0

In [30]:
a[1]

KeyError: 1

In [31]:
a

{'India': ['ROhit_Sharma', 'DK', 'Dhoni'],
 'Pak': ['Babar', 'Inzumam', 'shadi_afradi'],
 'Austrlia': ['fintch', 'Symomns', 'Ricky_poting']}

In [32]:
a['ROhit_Sharma']

KeyError: 'ROhit_Sharma'

### if we want only values from the dictionary

In [35]:
print(a)
print()
print(a.values())

{'India': ['ROhit_Sharma', 'DK', 'Dhoni'], 'Pak': ['Babar', 'Inzumam', 'shadi_afradi'], 'Austrlia': ['fintch', 'Symomns', 'Ricky_poting']}

dict_values([['ROhit_Sharma', 'DK', 'Dhoni'], ['Babar', 'Inzumam', 'shadi_afradi'], ['fintch', 'Symomns', 'Ricky_poting']])

### if we want only keys from the dictionary

In [36]:
print(a)
print()
print(type(a))
print(a.keys)

{'India': ['ROhit_Sharma', 'DK', 'Dhoni'], 'Pak': ['Babar', 'Inzumam', 'shadi_afradi'], 'Austrlia': ['fintch', 'Symomns', 'Ricky_poting']}

<class 'dict'>
<built-in method keys of dict object at 0x0000029F580E8200>

In [37]:
print(a)
print()
print(type(a))
print()
print(a.keys())

{'India': ['ROhit_Sharma', 'DK', 'Dhoni'], 'Pak': ['Babar', 'Inzumam', 'shadi_afradi'], 'Austrlia': ['fintch', 'Symomns', 'Ricky_poting']}

<class 'dict'>

dict_keys(['India', 'Pak', 'Austrlia'])

## If we want both keys and values in the dictionary

In [38]:
item_dict={"Roll_no":4252,"Batch_no":4,"Batch_name":"Red"}
print(item_dict)
print()
print(item_dict.items())

{'Roll_no': 4252, 'Batch_no': 4, 'Batch_name': 'Red'}

dict_items([('Roll_no', 4252), ('Batch_no', 4), ('Batch_name', 'Red')])

#### Creating empty dictionary and filling the items inside that

In [39]:
scores={}

scores["Rahul"]=22
scores["Raju"]=21
scores["Robert"]=25
print(scores)

{'Rahul': 22, 'Raju': 21, 'Robert': 25}

### get method

In [1]:
population={"India":150,"China":200,"USA":80}
print(population)
print()
print(population.get("India"))
print()
print(population.get("China"))
print()
print(population.get("USA"))

{'India': 150, 'China': 200, 'USA': 80}

150

200

80

In [2]:
population["India"]

150

In [3]:
population["USA"]

80

In [4]:
population["Pakistan"]

KeyError: 'Pakistan'

In [6]:
print(population.get("Pakistan"))

None

In [7]:
population.get("India")

150

### Adding in dictionary

In [8]:
population={"India":150,"China":200,"USA":80}

In [9]:
population["Pakistan"]=85
print(population)

{'India': 150, 'China': 200, 'USA': 80, 'Pakistan': 85}

In [10]:
population["UAE"]=90
print(population)

{'India': 150, 'China': 200, 'USA': 80, 'Pakistan': 85, 'UAE': 90}

## Adding two dictionay

In [11]:
population={"India":150,"China":200,"USA":80}
new_population={"Pakistan":85,"UAE":90}
print(population+new_population)

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

### Deleting

In [12]:
new_population

{'Pakistan': 85, 'UAE': 90}

In [15]:
print(new_population)
del new_population
print(new_population)

NameError: name 'new_population' is not defined

## update

In [16]:
population["IRELAND"]=[30,50]
print(population)

{'India': 150, 'China': 200, 'USA': 80, 'IRELAND': [30, 50]}

In [17]:
population["IRELAND"]=(30,50)
print(population)

{'India': 150, 'China': 200, 'USA': 80, 'IRELAND': (30, 50)}

## pop

In [18]:
a = {'India':12,'china':11,'USA':10}

In [20]:
print(a.pop('USA'))

10

In [21]:
print(a.pop())

TypeError: pop expected at least 1 argument, got 0

### Clear

this function will clear all elements inside the dictionary, if we re check it will show empty dictionary

In [22]:
a

{'India': 12, 'china': 11}

In [23]:
print(a.clear())
print(a)

None
{}

## Pop items

pop_items will delete the last item in the dictionary

In [24]:
population={"India":150,"China":200,"USA":80}

In [25]:
print(population)
print(population.popitem())
print(population)

{'India': 150, 'China': 200, 'USA': 80}
('USA', 80)
{'India': 150, 'China': 200}

## Assining the value inside the dictionary using for loop

In [26]:
population={"India":150,"China":200,"USA":80}

In [29]:
for i , j in population.items():
    print(i,"=",j)
    print()

India = 150

China = 200

USA = 80

In [34]:
for i in population.values():
    print(population.keys(),i+10)
    print()

dict_keys(['India', 'China', 'USA']) 160

dict_keys(['India', 'China', 'USA']) 210

dict_keys(['India', 'China', 'USA']) 90

In [40]:
for i in population.keys():
    print(population[i],population[i])
print(population)

150 150
200 200
80 80
{'India': 150, 'China': 200, 'USA': 80}

In [41]:
x="66"
y= x+str(9)
print(y)

669

In [42]:
a b c = 3000 6000 8000

SyntaxError: invalid syntax (Temp/ipykernel_9044/2484534682.py, line 1)

In [43]:
22%4

2

In [44]:
t = '%(a)s, %(b)s, %(c)s'
t % dict(a='hello', b='world', c='universe')

'hello, world, universe'

In [50]:
k = 2 + 3i
type(k)

SyntaxError: invalid syntax (Temp/ipykernel_9044/1916023454.py, line 1)

In [46]:
float('inf')

inf

In [47]:
float('56'+'78')

5678.0

In [48]:
float('12+34')

ValueError: could not convert string to float: '12+34'

In [49]:
~~~~~~6

6