* Using list comprehension it reduce the number of code , it will be easy to see the code .
* It is possible to use conditions in a list comprehension
* The list comprehension will always give value in a form of list

 
                        variable     filter condition(optional)                
                        /            ^
Syntax:   #[output for i in list if condition]
    
Example:  #[i**3 for i in [1,2,3,4] if i>2]    
              /              /
            output          input sequence
            expression

### List comprehension vs Loops

In [1]:
#using loops
num=[]
for i in range(5):
    num.append(i*i)
print(num)

[0, 1, 4, 9, 16]

In [2]:
# using list comprehension
num=[i*i for i in range(5)]
print(num)

[0, 1, 4, 9, 16]

### Examples

In [8]:
#loops
price=[100,200,300,400,500]
for i in price:
    print(i*2,end=",")

200,400,600,800,1000,

In [9]:
#list comprehension
price=[100,200,300,400,500]
result=[i*2 for i in price]        # in list comprehension output will be in the form of list 
print(result)

[200, 400, 600, 800, 1000]

## Read the first element using list comprehension

In [10]:
fruits=["Apple","Banana","Pineapple","Jackfruit"]

In [13]:
### normal loop
for i in fruits:
    print(i[0],end=" ")

A B P J

In [14]:
## using list comprehension
result=[print(i[0],end=" ") for i in fruits]

A B P J

In [19]:
result=[i[0] for i in fruits]
result

['A', 'B', 'P', 'J']

### Read the first 2 leter in list using list comprehension

In [23]:
fruits=["Apple","Banana","Pineapple","Jackfruit"]
## using loop

for i in fruits:
    print(i[0:2])

Ap
Ba
Pi
Ja

In [24]:
### using list comprehension
result=[i[0:2] for i in fruits]
print(result)

['Ap', 'Ba', 'Pi', 'Ja']

### Iteration over more than one iterable in a list using list comprehension

In [27]:
fruits=["Apple","Banana","Pineapple","Jackfruit"]
price=[100,40,30,80]

## using loop
for i in fruits:
    for j in price:
        print(i,j,end=",")

Apple 100,Apple 40,Apple 30,Apple 80,Banana 100,Banana 40,Banana 30,Banana 80,Pineapple 100,Pineapple 40,Pineapple 30,Pineapple 80,Jackfruit 100,Jackfruit 40,Jackfruit 30,Jackfruit 80,

In [31]:
result=[(i,j) for i in fruits for j in price]
print(result)

[('Apple', 100), ('Apple', 40), ('Apple', 30), ('Apple', 80), ('Banana', 100), ('Banana', 40), ('Banana', 30), ('Banana', 80), ('Pineapple', 100), ('Pineapple', 40), ('Pineapple', 30), ('Pineapple', 80), ('Jackfruit', 100), ('Jackfruit', 40), ('Jackfruit', 30), ('Jackfruit', 80)]

### List comprehension using conditional logic

In [36]:
price=[100,40,30,80,120]
for i in price:
    if i>100:
        print(i)
    else:
        print(0)

0
0
0
0
120

In [37]:
result=[i if i>100 else 0  for i in price]
result

[0, 0, 0, 0, 120]