### Print condition

In [23]:
print("my name rahul and iam kind to everyone")

my name rahul and iam kind to everyone

In [1]:
print("hi")

hi

In [2]:
print('hello')

hello

In [3]:
print('vishnu')

vishnu

In [5]:
print('vishnu is tu boy')

vishnu is tu boy

In [6]:
print('satish is sleeping')

satish is sleeping

In [7]:
# math operators

In [8]:
print(5+5)

10

In [9]:
print(8+8)

16

In [10]:
print(9+9)

18

In [11]:
print('9+9')

9+9

In [12]:
print(99+99)

198

In [13]:
print(88+88)

176

In [14]:
print(55+55)

110

In [15]:
print(66+66)

132

In [16]:
print(33+33)

66

In [17]:
print(99+199)

298

In [18]:
print(66+66)

132

In [19]:
print(99-89)

10

In [20]:
print(66-489)

-423

In [21]:
print(89-73)

16

In [22]:
print(99*99)

9801

In [23]:
print(89*5)

445

In [24]:
print(89*89)

7921

In [25]:
print(89/89)

1.0

In [26]:
print(8/8)

1.0

In [27]:
print(9/9)

1.0

In [28]:
print(9//9)

1

In [29]:
print(2**2)

4

In [30]:
print(2**3)

8

In [32]:
2*2

4

In [33]:
4*2

8

In [34]:
2*2

4

In [35]:
print(2**4)

16

In [36]:
print(3**4)

81

In [24]:
print('rahul rao')

rahul rao

In [25]:
print("""I love data science by my choice""")

I love data science by my choice

#### Number of keywords in python

In [26]:
import keyword

In [27]:
print(keyword.kwlist)

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

### advance print concept

In [1]:
#we can add print condition with variables

In [2]:
# There are 3 different types to add variables to print condition

In [3]:
a=32

In [4]:
print("my name is rahul and my age is",a)

my name is rahul and my age is 32

In [10]:
print("my name is rahul and my age is"==a)

False

### second type

In [11]:
a='python'
b='java'

In [18]:
print(a,""+"is a good")

python is a good

In [19]:
b=22

In [21]:
print("my age is",''+str(b))

my age is 22

In [22]:
a='data science'
b=100
c=2
print("iam learning",a,"with",b,"rs and daily iam having",c,"hr class")

iam learning data science with 100 rs and daily iam having 2 hr class

### third type

In [23]:
a='kamal'

In [24]:
print("my name is %s"%a)

my name is kamal

In [25]:
print("my name is"%a)

TypeError: not all arguments converted during string formatting

In [26]:
a='data science'
b=100
c=2

In [27]:
print("iam learning %s with %d rs and daily %d hr class"%(a,b,c))

iam learning data science with 100 rs and daily 2 hr class

In [30]:
a='data science'
b=100
c=2.30
print("iam learning %s with %d rs and daily %f hr class"%(a,b,c))

iam learning data science with 100 rs and daily 2.300000 hr class

### Operators

In [33]:
pow(2,5)

32

In [35]:
pow(2,2,2)

0

# For loop

In [37]:
# want to travel from 21 to 31
for i in range(21,32):
    print(i)

21
22
23
24
25
26
27
28
29
30
31

In [38]:
for i in range(21,32):
    print(i,end=" ")       #for horizontal form

21 22 23 24 25 26 27 28 29 30 31

In [39]:
for i in range(21,32):
    print(i,end=",")

21,22,23,24,25,26,27,28,29,30,31,

In [40]:
for i in range(31,22):
    print(i,end=",")

In [44]:
for i in range(1,11,2):
    print(i,end=",")

1,3,5,7,9,

In [56]:
x=6

In [57]:
if x%2==0:
    print("it is even")

it is even

In [64]:
for i in range(21,30):
    if i%2==0:
        print(i,"it is even")
    else:
        print(i,"it is odd")

21 it is odd
22 it is even
23 it is odd
24 it is even
25 it is odd
26 it is even
27 it is odd
28 it is even
29 it is odd

# Break condition

In [65]:
for i in range(21,31):
    print(i)
    if i==27:
        break

21
22
23
24
25
26
27

In [68]:
for i in range(41,46):
    for j in range(45,51):
        if i==j:
            print("value matched")

value matched

## Print statements example

In [69]:
print("Hello")

Hello

In [70]:
print "hey"

SyntaxError: Missing parentheses in call to 'print'. Did you mean print("hey")? (Temp/ipykernel_3784/3046813824.py, line 1)

In [72]:
print("""Hi my name is rahul 
and
i love python""")

Hi my name is rahul
and
i love python

In [75]:
a="morning"
print("Good",a)

b="!"
print("Good",a,b)

Good morning
Good morning !

In [76]:
print("Good"+a+b)

Goodmorning!

In [79]:
 print ("Hello %s" % a)

Hello morning

In [80]:
print("hello %s"%"namaskara")

hello namaskara

In [81]:
print("hello"%"namaskara")

TypeError: not all arguments converted during string formatting

In [82]:
print("hello %s"%"namaskara %s")

hello namaskara %s

In [83]:
print("hello %d"%2)

hello 2

In [84]:
print("hello"%2)

TypeError: not all arguments converted during string formatting

In [86]:
x=2
print("This is even number %d",x)
print("This is even number %d"%x)

This is even number %d 2
This is even number 2

In [87]:
print("This is float value %f"%12.5)
y=12.5
print("This is float value %f",y)
print("This is float value %f"%y)

This is float value 12.500000
This is float value %f 12.5
This is float value 12.500000

## Other print statement examples

In [88]:
print ("I want %%d to be printed %s" %'here')

I want %d to be printed here

In [89]:
print ("I want %%%d to be printed %s" %'here')

TypeError: %d format: a number is required, not str

In [90]:
print ("I want %d to be printed %s" %'here')

TypeError: %d format: a number is required, not str

In [96]:
print("_A"*10)

_A_A_A_A_A_A_A_A_A_A

In [99]:
print("Mon\nTue\nWed\nThur\nFri\nSat\nSun")

Mon
Tue
Wed
Thur
Fri
Sat
Sun

In [102]:
print("jan 1\nfeb\nmar\napr\nmay\njun\njul\naug\nsep\noct\nnov\ndec")

jan 1
feb
mar
apr
may
jun
jul
aug
sep
oct
nov
dec

In [111]:
for i in range(1,11):
    i=i+1
    if i==6:
        break
        print(i)

In [110]:
for i in range(1,11):
    i=i+1
    if i==6:
        break
    print(i)

2
3
4
5

In [116]:
for i in range(1,11):
    i=i+1
    if i%2==0:
        break
        
print(i)

2

##### PrecisionWidth and FieldWidth

In [117]:
x=3.525122554566
print("%f"%x)

3.525123

In [119]:
print("%2f"%x)

3.525123

In [120]:
print("%.2f"%x)

3.53

In [121]:
print("%3.2f"%x)

3.53

In [122]:
print("%3.2f"%1455.2546)

1455.25

In [123]:
print("%9.5f" % 3.121312312312)

  3.12131

In [124]:
for i in range(6):
    for j in range(7):
        if (i==0 and j%3!=0) or (i==1 and j%3==0) or(i-j==2)or(i+j==8):
            print("*",end="")
        else:
            print(" ",end="")
    print()

 ** **
*  *  *
*     *
 *   *
  * *
   *

In [129]:
for i in range(6):
    for j in range(7):
        if (i==0 and j%3!=0)or(i==1 and j%3==0)or(i-j==2)or(i+j==8):
            print("*",end="")
        else:
            print(" ",end="")
    print()

 ** **
*  *  *
*     *
 *   *
  * *
   *

In [127]:
for i in range(6):
    for j in range(7):
        if (i==0 and j%3!=0) or (i== and j%3==0) or(i-j==2)or(i+j==8):
            print("*",end="")
        else:
            print(" ",end="")
    print()

 ** **
*  *  *
*     *
 *   *
  * *
   *

In [132]:
for i in range(6):
    for j in range(7):
        if (i==0 and j%3!=0)or(i==1 and j%3==0) or (i-j==2)or(i+j==8):
            print("*",end="")
        else:
            print(" ",end="")
    print()

 ** **
*  *  *
*     *
 *   *
  * *
   *

In [133]:
for i in range(6):
    for j in range(7):
        if (i==0 and j%3!=0)or(i==1 and j%3==0)or(i-j==2)or(i+j==8):
            print("*",end="")
        else:
            print(" ",end="")
    print()

 ** **
*  *  *
*     *
 *   *
  * *
   *

In [1]:
for i in (1,10):
    print(i)

1
10

In [2]:
for i in "myblog":
    print(i,"?")

m ?
y ?
b ?
l ?
o ?
g ?

### Write a program to print first 10 natural numbers

In [4]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

## write a program tp print first 10 even number

In [7]:
for i in range(2,22,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

#### Write a program to print first 10 odd number

In [14]:
for i in range(1,21,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

## write a program to print first 10 even number in reverse order

In [20]:
for i in range(20,0,-2):
    print(i)

20
18
16
14
12
10
8
6
4
2

## write a program to print tables for any given number from users

In [86]:
numu=int(input("enter the number : "))\
for i in range(1,11):
    print(num*i)

SyntaxError: invalid syntax (Temp/ipykernel_13208/1119878848.py, line 2)

In [66]:
num=int(input("enter the number"))
for i in range(1,11):
    print(num*i)

enter the number2
2
4
6
8
10
12
14
16
18
20

In [85]:
num=3
f=1
for i in range(1,num+1):
    f=f*i
print("the factorial is :",end=" ")
print(f)

the factorial is : 6

In [82]:
n = int(input("enter the number: "))
fact = 1
  
for i in range(1,n+1):
    fact = fact * i
      
print ("The factorial is : ",end="")
print (fact)

enter the number: 4
The factorial is : 24

## write a program to find the factorial number

In [2]:
def fact():
    num= int(input("Enter the number"))
    f=1
    for i in range(1,num+1):
        f=f*i
        print(f)
fact()

Enter the number10
1
2
6
24
120
720
5040
40320
362880
3628800

In [72]:
for i in range(1,4):
    print(i)

1
2
3

In [31]:
b=b*a

In [32]:
b

4

## write the program to check whether the number is prime or not

In [50]:
for i in range(2,5//2):
    print(i)

In [52]:
num=int(input("enter the number"))
for i in range(2,num//2):
    if n%i==0:
        print("not prime")
    else:
        print("prime")

enter the number5

In [1]:
num= int(input("enter the number"))
f=0
if num==1 or num==0:
    print(f=1)
for i in range(2,num):
    if num%i==0:
        f=1
if f==1:
    print("number is not prime")
else:
    print(" prime")

enter the number7
 prime

In [2]:
## Write a tables code
num=int(input("enter the number: "))
for i in range(1,11):
    print(num*i)

enter the number: 2
2
4
6
8
10
12
14
16
18
20

In [4]:
## Factorial 
num=int(input("enter the number: "))
f=1
for i in range(1,num+1):
    f=f*i
print(f)

enter the number: 4
24

### Write a program to display all the number which are divisible by 11 but not by 2 between 100 and 500

In [8]:
for i in range(100,500):
    if i%11==0 and i%2!=0:
        print(i)

121
143
165
187
209
231
253
275
297
319
341
363
385
407
429
451
473
495

In [6]:
n=10
if n%2==0 and n%3==0:
    print("can")
else:
    print("cant")

cant

In [7]:
n=10
if n%2==0 or n%3==0:
    print("can")
else:
    print("cant")

can