In [1]:
import numpy as np

In [6]:
a=2
if a==2:
    print("hello \n"*2)

hello
hello

In [11]:
def A_p(a, d, n) :
    return (a + (n - 1) * d)
      
a = 2  
d = 1 
n = 5
print(  n ,A_p(a, d, n))

5 6

In [12]:
a = int(input())
d = int(input())
n = int(input())
print(a+(n-1)*d)

6
1
2
7

## write a program to print the product of two numbers 'x'and 'y'

In [1]:
x=5
y=10
print(x*y)

50

## display the patteren

In [6]:
print("*\n**\n***\n****\n")

*
**
***
****

### Write the python program to print the calender of a given month and year  NOTE: use calender module

In [7]:
import calendar

In [8]:
year=int(input("enter the year "))
month=int(input("enter the month "))
print(calendar.month(year,month))

enter the year 2020
enter the month 11
   November 2020
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30

### Display the sum of 5+10, using two strings x and y

In [9]:
x=5
y=10
print(x+y)

15

### Create a variable called z,assign x+y to it,and display the result(u can take any value to x and y)

In [10]:
x=5
y=10
z=x+y
print(z)

15

### Write a program which accepts the users first and last name and print them in reverse order  with a space between them

In [15]:
first_name='Rahul'
last_name="Rao"
name=first_name+" "+last_name
print(name)
print(name[::-1])

Rahul Rao
oaR luhaR

In [ ]:
speed_of_light=299792458
print(speed_of_light)

### Create three variables to hold strings title, first and last names. print "hello<title> <first> <last> " using four different print statements

eg: hello mr orville wright

In [16]:
#1st method
title="Hello"
first_name='Rahul'
last_name="Rao"
print(title,first_name,last_name)

Hello Rahul Rao

In [19]:
#2nd method
print(title+" "+first_name+" "+last_name)

Hello Rahul Rao

In [20]:
#3rd method
print("%s %s %s"%(title,first_name,last_name))

Hello Rahul Rao

#### Create a variable named var1 that contains the result of 10/3.print the result limiting the display of the variable to 2 decimal places. eg: the result is 3.33

In [23]:
var1=10/3
print(var1)
print()
print(round(var1,2))

3.3333333333333335

3.33

Accept three sides of a triangle and check whether it is an equilateral, isosceles or scalene triangle.
Note :
An equilateral triangle is a triangle in which all three sides are equal.
A scalene triangle is a triangle that has three unequal sides.
An isosceles triangle is a triangle with (at least) two equal sides.

In [15]:
a=5
b=10
c=5
if a==b and b==c:
    print("equilateral")
elif a==b or b==c or c==a:
    print("isosceles")
else:
    print("scalene")

isosceles

Write a program to display the last digit of a number.
(hint : any number % 10 will return the last digit).

In [16]:
10%10

0

In [17]:
2%10

2

In [18]:
3%10

3

In [23]:
a=5
if a%10:
    print(a)

5

Write a program to check whether the last digit of a number( entered by user ) is divisible by 3 or not.

In [20]:
9%3==0

True

In [21]:
8%3==0

False

In [22]:
a=9
if a%3==0:
    print("divisible")
else:
    print("not divisible")

divisible

Write a python code to check whether 13 is a prime number or not?

In [26]:
a=13
count=0
for i in range(1,a+1):
    if a%i==0:
        count=count+1
if count==2:
    print("prime number ")
else:
    print("not prime")

prime number

Question 5

+ 4.00 - 0.00

Write a python program for the following:
a. if x is even and positive  take a square root , 
b.if x is odd and positive  take cube root 
c.if x is negative , take absolute of it and then take square root of it

In [54]:
x=5
if x%2==0 and x>=1:
    print(x**2)
elif x%2==1 and x>=1:
    print(x**3)
elif x<0:
    print(sqrt(abs(x)))

125

Question 6

+ 4.00 - 0.00

Write a Python program to display the sign of the Chinese Zodiac for given year in which you were born.
(year-0- zodiac sign- dragon)
1-snake,2-horse,3-sheep,4-monkey,5-rooster,6-dog,7-pig,8-rat,9-ox,10-tiger)

In [29]:
year=2018
if (year-2000) %12==1:
    sign="snake"
elif (year-2000)%12==2:
    sign="horse"
elif (year-2000)%12==3:
    sign="sheep"
elif (year-2000)%12==4:
    sign="monkey"
elif (year-2000)%12==5:
    sign="rooster"
elif (year-2000)%12==6:
    sign="dog"
elif (year-2000)%12==7:
    sign="pig"
elif (year-2000)%12==8:
    sign="rat"
elif (year-2000)%12==9:
    sign="ox"
else:
    sign="tiger"

print("you zodic sign :",sign)

you zodic sign : dog

Write a Python program to check if a string represents an integer or not.

In [32]:
str1 = "52"
 
if str1.isdigit():
    print("User input is an Integer ")
else:
    print("User input is string ")

User input is an Integer

Write a Python program to sum of two given integers. However, if the sum is between 15 to 20 it will return 20.

In [38]:
def sum(x, y):
    sum = x + y
    if sum in range(15, 20):
        return 20
    else:
        return sum

print(sum(10, 6))

20

In [39]:
print(sum(2,2))

4

Write a Python program to count the number of even and odd numbers from a series of numbers.

In [40]:
n=(1,2,3,4,5,6)
c_even=0
c_odd=0
for i in n:
    if not i%2:
        c_even=c_even+1
    else:
        c_odd=c_odd+1
print(c_even)
print(c_odd)

3
3

Question 10

+ 4.00 - 0.00

Write a program to check whether a number is positive, negative or zero (use if-elif)

In [42]:
x=5
if x>=1:
    print("positive")
elif x==0:
    print("zero")
else:
    print("negative")

positive

Question 11

+ 4.00 - 0.00

Write a code to print the maximum of two numbers (use if-else).

In [43]:
a=2
b=4
if a>=b:
    print(a)
else:
    print(b)

4

Question 12

+ 4.00 - 0.00

Write a program to check whether a given number is multiple of 7 (use if statement)

In [48]:
a=7
if a%7==0:
    print("yes")
else:
    print("no")

yes

Question 13

+ 4.00 - 0.00

Write a Python program to check whether an alphabet is a vowel or consonant.

In [51]:
alpha="a"
a="a","e","i","o","u"
if alpha in a:
    print("yes")
else:
    print("no")

yes

Question 14

+ 4.00 - 0.00

Write a Python program to calculate a dog's age in dog's years.
Note: For the first two years, a dog year is equal to 10.5 human years. After that, each dog year equals 4 human years.Expected Output:
Input a dog's age in human years: 15  
The dog's age in dog's years is 73

Question 15

+ 4.00 - 0.00

Write a Python program to find the median of three values.

In [52]:
a = 10
b = 20
c = 30
if a > b:
    if a < c:
        median = a
    elif b > c:
        median = b
    else:
        median = c
else:
    if a > c:
        median = a
    elif b < c:
        median = b
    else:
        median = c

print("The median is", median)

The median is 20

In [57]:
a=10
b=20
c=30
if a>b and a<c:
    median=a
elif b>c :
    median=b
else:
    median=c
    
    
print(median)

30

1.Accept a number and check whether it is palindrome or not.

In [75]:
a=121
if a==a[::-1]:
    print("p")
else:
    print("no")

TypeError: 'int' object is not subscriptable

In [83]:
a=int(input("Enter the number: "))
rev=0
x=a
while a>0:
    rev=(rev*10)+a%10
    a=a//10
if rev==x:
    print("palindrome")
else:
    print(" no palindrome ")

Enter the number: 52
 no palindrome

2.Write a program to display all the numbers which are divisible by 11 but not by 2 between 100 and 500.

In [84]:
l1=[]
for i in range(100,500):
    if i%11==0 and i%2!=0:
        l1.append(i)
print(l1)

[121, 143, 165, 187, 209, 231, 253, 275, 297, 319, 341, 363, 385, 407, 429, 451, 473, 495]

In [85]:
121%11

0

In [86]:
121%2

1

3.Write a program to find the sum of the digits of a number accepted from user

In [87]:
a=int(input("Enter the number: "))
b=int(input("Enter the number: "))
for i in a:
    for j in b:
        print(i+j)

Enter the number: 5
Enter the number: 10

TypeError: 'int' object is not iterable

In [92]:
a=int(input("Enter the number :"))
s=0
while (a>0):
    s=s+a%10
    a=a//10
print(s)

Enter the number :525
12

In [93]:
x=int(input("Enter the number: "))
total=0
while x>0:
    total=total+x%10
    x=x//10
print(total)

Enter the number: 123
6

In [94]:
x=int(input("Enter the number: "))
total=0
while x>0:
    total=total+x%10
    x=x//10
    print(total)

Enter the number: 123
3
5
6

4.Write a program to find the factorial of a number.

In [98]:
a=int(input("Enter the number : "))
f=1
for i in range(1,a+1):
    f=f*i
    print(f)

Enter the number : 4
1
2
6
24

In [96]:
a=int(input("Enter the number : "))
f=1
for i in range(1,a+1):
    f=f*i
print("Factorial of a given number is ",f)

Enter the number : 5
Factorial of a given number is  120

5.Write a program to display the product of the digits of a number accepted from the user.

In [100]:
1*123%10

3

In [110]:
i=246
s=1
while (i>0):
    s=s*(i%10)
    i=i//10
print(s)

48

In [111]:
i=246
s=1
while (i>0):
    s=s*i%10
    i=i//10
print(s)

8

In [112]:
143%10

3

6.Calculate the average of the number given in the list through loop.
list1=[34,6,43,2,32,44,55,33,32]

In [115]:
list1=[34,6,43,2,32,44,55,33,32]
sum_num=0
for i in list1:
    sum_num=sum_num+i
    avg=sum_num/len(list1)
print(avg)

31.22222222222222

In [114]:
34+6+43+2+32+44+55+33+32

281

In [116]:
281/9

31.22222222222222

In [120]:
l=[2,3,4,5,6]
total=0
for i in l:
    total=total+i
    avg=total/len(l)
print(avg)

4.0

7.Remove duplicates from the given list num2 using loop.
num2=[1,2,3,41,3,5,4,56,4,56,4,4,36,6,66,6,645,3,3,5,6,8]

In [121]:
num2=[1,2,3,41,3,5,4,56,4,56,4,4,36,6,66,6,645,3,3,5,6,8]
num1=[]
for i in num2:
    if i not in num1:
        num1.append(i)
print(num1)

[1, 2, 3, 41, 5, 4, 56, 36, 6, 66, 645, 8]

8.Write a program to check whether two numbers are amicable or not (take the input from the user).

In [125]:
x=int(input('Enter first number : '))  
y=int(input('Enter second number : '))  
sum1=0  
sum2=0  
for i in range(1,x):  
    if x%i==0:  
        sum1+=i  
for j in range(1,y):  
    if y%j==0:  
        sum2+=j  
if(sum1==y and sum2==x):  
    print('Given numbers are Amicable!')  
else:  
    print('Given numbers are not Amicable!')

Enter first number : 220
Enter second number : 284
Given numbers are Amicable!

9.Write a program to check whether a number is prime or not (take the input from user)

In [126]:
num=int(input("Enter the number: "))
count=0
for i in range(1,num+1):
    num%i==0
    count=count+1
    
if count==2:
    print("prime numer")
else:
    print("not a prime number")

Enter the number: 7
not a prime number

In [128]:
num=int(input("Enter the number: "))
count=0
for i in range(1,num+1):
    if num%i==0:
        count=count+1
if count==2:
    print("prime numer")
else:
    print("not a prime number")

Enter the number: 10
not a prime number

10.Reverse string using a for loop (take the input from user).

In [131]:
a=input("Enter string")
rev=''
for i in range(len(a),0,-1):
    rev=rev+a[i-1]
print(rev)

Enter stringram
mar

11.Write a program for generating a fibonacci series starting with 0 and 1 for the next 10 values using a while loop.

In [132]:
n=int(input("Enter the number: "))
x=0
y=1
z=0
while (z<=n):
    print(z)
    x=y
    y=z
    z=x+y

Enter the number: 10
0
1
1
2
3
5
8

12.Write a code to print table of 5 using assignment operand +=.(using while)

In [133]:
num=int(input("Enter the number: "))
for i in range(1,11):
    print(num,"x",i,"=",num*i)

Enter the number: 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

13.Write a program swap the keys to values and values to keys of the given dictionary. Module = {'Data Science':1,'Machine Learning':2, 'SQL':3, 'Big Data':4} Output: {1:'Data Science',2:'Machine Learning', 3:'SQL', 4:'Big Data'}

In [142]:
Module = {'Data Science':1,'Machine Learning':2, 'SQL':3, 'Big Data':4} 
new_dict=dict([(value, key) for key, value in Module.items()])

for i in new_dict:
    print(i, " :  ", new_dict[i],end=", ")

1  :   Data Science, 2  :   Machine Learning, 3  :   SQL, 4  :   Big Data,

14.Write a program to extract the words from the given list which have their first character in uppercase. Days = ['Monday', 'tuesday','friday', 'Sunday', 'Saturday'] Output: ['Monday', 'Sunday', 'Saturday']

In [143]:
Days = ['Monday', 'tuesday','friday', 'Sunday', 'Saturday']
l=[]
for i in Days:
    if i[0].isupper():
        l.append(i)
print(l)

['Monday', 'Sunday', 'Saturday']

15.Write a program to count all the elements from wrong text but it should not consider space and vowels
wrong="""But soft what light through yonder window breaks It is the east and Juliet is the sun Arise fair 
        sun and kill the envious moon Who is already sick and pale with grief"""

In [146]:
wrong="""But soft what light through yonder window breaks It is the east and Juliet is the sun Arise fair sun and kill the envious moon Who is already sick and pale with grief"""
v=["a"," ","e","i","o","u"]
count=0
for i in wrong:
    if i not in v:
        count=count+1
print(count)

85

In [148]:
fruits = [4, 32, 64, 32, 16, 32]
x = fruits.index(32)
x

1

In [150]:
aList = [10, 20, 30, 40, 50, 60, 70, 80]
print(aList.append(100))
print(aList)

None
[10, 20, 30, 40, 50, 60, 70, 80, 100]

In [151]:
aList = ['a', 'b', 'c', 'd']

In [152]:
newList = aList.copy()

In [153]:
newList

['a', 'b', 'c', 'd']

In [154]:
l = [None] * 10
print(len(l))

10

In [155]:
list1=[3,2,5,7,3,6]
list1.pop(3)
print(list1)

[3, 2, 5, 3, 6]

In [156]:
list1=[6,23,3,2,0,9,8,75]

In [157]:
print(list1[1:7:2])

#B:
print(list1[0:7:2])

#C:
print(list1[1:8:2])

#D:
print(list1[0:8:2])

[23, 2, 9]
[6, 3, 0, 8]
[23, 2, 9, 75]
[6, 3, 0, 8]

In [158]:
list1=[]*3

In [159]:
resList = [x+y for x in ['Hello ', 'Good '] for y in ['Dear', 'Bye']]
print(resList)

['Hello Dear', 'Hello Bye', 'Good Dear', 'Good Bye']

In [161]:
newlist = [x if x != "banana" else "orange" for x in fruits]
newlist

[4, 32, 64, 32, 16, 32]

In [162]:
list_name=[4, 32, 64, 32, 16, 32]
print(list_name.sort())
print(max(list_name))
print(list_name.reverse())
print(list_name[-1])

None
64
None
4

In [163]:
list1 = ['xyz', 'z', 'Pickle']
print (max(list1))

z

In [164]:
aList = [10, 20, 30, 40, 50, 60, 70, 80]
print(aList[2:5])
print(aList[:4])
print(aList[3:])

[30, 40, 50]
[10, 20, 30, 40]
[40, 50, 60, 70, 80]

## List , list comprehension

1.Write a program that accepts a list from the user and print the alternate element of the list.

In [24]:
mylist = []
size = int(input('How many elements you want to enter? '))

print('Enter',size,'elements')

for i in range(size):
    data = int(input())
    mylist.append(data)

print('Alternate elements are:')
for i in range(0,size,2):
    print(mylist[i])

How many elements you want to enter? 4
Enter 4 elements
10
20
63
25
Alternate elements are:
[10, 20, 63, 25]
10
63

In [18]:
a=list(int(input("enter : ")))
print(a)

enter : 554

TypeError: 'int' object is not iterable

In [25]:
new_list=[]
size=int(input("enter : "))
print(" enter the",size,"element")
for i in range(size):
    data=int(input())
    new_list.append(data)
print("the new lis is",new_list)

print("the alternative list is :")
for i in range(0,size,2):
    print(new_list[i])

enter : 4
 enter the 4 element
1
2
34
31
the new lis is [1, 2, 34, 31]
the alternative list is :
1
34

2.Write a python program to input a list of strings, return the maximum length of strings entered.

In [112]:
str_list=["rahul","is","good","and","sweet"]
max_len= max(str_list,key=len)
max_len

'rahul'

3.Write a program that rotates the element of a list so that the element at the first index moves to the second index, the element in the second index moves to the third index, etc., and the element in the last index moves to the first index.

In [31]:
a=[1,2,3,4,5]
print(a)
a[-1:]+a[:-1]

[1, 2, 3, 4, 5]

[5, 1, 2, 3, 4]

4.Find the sum of each row of matrix of size m x n. For example for the following matrix output will be like this :
Sum of row 1 = 32
Sum of row 2 = 31
Sum of row 3 = 63

In [108]:
a = [[25,3,4],[28,1,2],[30,31,2]]
b = 1
for i in a:
    sum = 0
    for j in i:                                  
        sum = sum+j
   
    print("sum of row %d : "%b,sum)
    b +=1

sum of row 1 :  32
sum of row 2 :  31
sum of row 3 :  63

5.Write a program to add two matrices of size n x m

In [109]:
a = [[1,1],[2,2]]

b = [[1,1],[2,2]]

sum = [[0,0],[0,0]]                         # addition of two matrices

for i in range(len(a)):
    for j in range(len(a[0])):
        sum[i][j] = a[i][j]+b[i][j]

sum

[[2, 2], [4, 4]]

6.Write a program to multiply two matrices.

In [110]:
a = [[1,1],[2,2],[3,3]]
b = [[1,1],[2,2]]

c = [[0,0],[0,0],[0,0]]            # multiplication of the rows


for i in range(len(a)):
    for j in range(len(a[0])):
        for k in range(len(b)):
            c [i][j] += a[i][k]*b[k][j]
c

[[3, 3], [6, 6], [9, 9]]

7.Concatenate every element across lists using list comprehension

In [33]:
a=[1,2,3,4,5]
x=[i+1 for i in a]
x

[2, 3, 4, 5, 6]

8.Count occurrence of repeated element in list

In [38]:
l=[2,2,3,10,10,10]
x=10
count=0
for i in l:
    if i==x:
        count=count+1
print(count)

3

9.Reverse a List using slice.

In [39]:
l=[1,2,3,4,5]
print(l[::-1])

[5, 4, 3, 2, 1]

10.Given a list of N integers, and an integer K, find the number of pairs of elements in the array whose sum is equal to K.

In [111]:
def countpairs(list_,K):
    count = 0
    set_ = set(list_)
    pairs_ = []
    
    for val in list_:
        if K - val in set_:
            # we ensure that pairs are unordered by using min and max
            pairs_.append ( (min(val, K-val), max(val, K-val)) )
            count+=1

    set_pairs = set(pairs_)
    
    print ("Pairs which sum up to ",K," are: ", set_pairs)

    return len(set_pairs)




x  = [1,4,5,8,2,0,24,7,6]
sum_ = 13
print ("Total count of pairs summming up to ", sum_, " = ", countpairs(x, sum_))

Pairs which sum up to  13  are:  {(6, 7), (5, 8)}
Total count of pairs summming up to  13  =  2

In [486]:
def findLongestConseqSubseq(arr, n):
 
    s = set()
    ans =0
    for ele in arr:
        s.add(ele)
    for i in range(n):
        if (arr[i]-1) not in s:
            j = arr[i]
            while(j in s):
                j += 1
            ans = max(ans, j-arr[i])
            return ans
if _name_ == '_main_':
    n = 7
    arr = [1, 9, 3, 10, 4, 20, 2]
    print("Length of the Longest contiguous subsequence is ",findLongestConseqSubseq(arr, n))

NameError: name '_name_' is not defined

11.Python program to compare two equal sized list and print the first index where they differ

In [41]:
l1=[10,20,30,40,50]
l2=[10,20,30,42,50]
for i in range(len(l1)):
    if l1[i] != l2[i]:
        print("Lists differ at index", i)
        break;
else:
    print("list is equal")

Lists differ at index 3

In [40]:
l1=[10,20,30,40,50]
range(len(l1))

range(0, 5)

12.Find out the first repeating element in a list

In [485]:
def find_first_duplicate(nums):
    num_set = set()
    no_duplicate = -1

    for i in range(len(nums)):

        if nums[i] in num_set:
            return nums[i]
        else:
            num_set.add(nums[i])

    return no_duplicate

print(find_first_duplicate([1, 2, 3, 4, 4, 5]))
print(find_first_duplicate([1, 2, 3, 4]))
print(find_first_duplicate([1, 1, 2, 3, 3, 2, 2]))

4
-1
1

13.Given an unsorted list A of size N that contains only non-negative integers, find a continuous sub-list which adds to a given number S.
In case of multiple sub-lists, return the sub-list which comes first on moving from left to right.

14.Find missing numbers in a sorted list range.

In [44]:
listA = [1,5,6, 7,11,14]

# Original list
print("Given list : ",listA)

# using range
res = [x for x in range(listA[0], listA[-1]+1) if x not in listA]
# Result
print("Missing elements from the list : " ,res)

Given list :  [1, 5, 6, 7, 11, 14]
Missing elements from the list :  [2, 3, 4, 8, 9, 10, 12, 13]

In [50]:

for x in range(listA[0], listA[-1]+1):
    if x not in listA:
        print(x,end=" ")

2 3 4 8 9 10 12 13

In [47]:
listA[-1]+1

15

15.Given a list of positive integers. Find the length of the longest sub-sequence such that elements in the subsequence are consecutive integers, the consecutive numbers can be in any order.

In [51]:
def findLongestConseqSubseq(arr, n):
 
    s = set()
    ans = 0
 
    # Hash all the array elements
    for ele in arr:
        s.add(ele)
 
    # check each possible sequence from the start
    # then update optimal length
    for i in range(n):
 
         # if current element is the starting
        # element of a sequence
        if (arr[i]-1) not in s:
 
            # Then check for next elements in the
            # sequence
            j = arr[i]
            while(j in s):
                j += 1
 
            # update  optimal length if this length
            # is more
            ans = max(ans, j-arr[i])
            return ans
 
 
#Driver code
if __name__ == '__main__':
    n = 7
    arr = [1, 9, 3, 10, 4, 20, 2]
    print("Length of the Longest contiguous subsequence is ",findLongestConseqSubseq(arr, n))

Length of the Longest contiguous subsequence is  4

In [52]:
s={1, 2, 3}
s.update(4)

TypeError: 'int' object is not iterable

In [53]:
a={5,6,7,8}
b={7,8,9,10}
len(a+b)

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [54]:
a={5,6,7,8}
b={7,8,9,10}
len(a+b)

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [55]:
a=[(2,4),(1,2),(3,9)]
a.sort()
a

[(1, 2), (2, 4), (3, 9)]

In [57]:
Student= {
  "id":101,
  "name": "Dheeraj",
  "email": "xyz@gmail.com",
  "position": "Mentor",
}
print('email')

#B:
print(student('email'))

#C:
print(Student['email'])

#D:
print(Student[2[1]])

email

<>:16: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
<>:16: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?

NameError: name 'student' is not defined

In [58]:
print(Student)

{'id': 101, 'name': 'Dheeraj', 'email': 'xyz@gmail.com', 'position': 'Mentor'}

In [59]:
print('email')

email

In [61]:
print(Student('email'))

TypeError: 'dict' object is not callable

In [62]:
print(Student['email'])

xyz@gmail.com

In [70]:
X = [1, [2, 3, [4, Ekeeda, 3.17]], 'Mumbai']

X[0[2[1]]]

B:
X[4]

C:
X[‘Ekeeda’’]

D:
X[1][2][1][2]

SyntaxError: invalid syntax (Temp/ipykernel_13064/3047481561.py, line 5)

In [71]:
X[0[2[1]]]

<>:1: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
<>:1: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
<>:1: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
<>:1: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
C:\Users\USER\AppData\Local\Temp/ipykernel_13064/2309033581.py:1: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
  X[0[2[1]]]
C:\Users\USER\AppData\Local\Temp/ipykernel_13064/2309033581.py:1: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
  X[0[2[1]]]

NameError: name 'X' is not defined

In [72]:
X[4]

NameError: name 'X' is not defined

In [64]:
x[0[2[1]]]

<>:1: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
<>:1: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
<>:1: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
<>:1: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
C:\Users\USER\AppData\Local\Temp/ipykernel_13064/3621902582.py:1: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
  x[0[2[1]]]
C:\Users\USER\AppData\Local\Temp/ipykernel_13064/3621902582.py:1: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
  x[0[2[1]]]

TypeError: 'int' object is not subscriptable

In [65]:
x[4]

TypeError: 'int' object is not subscriptable

In [66]:
x[1][2][1][2]

TypeError: 'int' object is not subscriptable

In [73]:
a,b,c=1,2,3
a,b,c

(1, 2, 3)

In [74]:
x = (1,2,2,66,45)
#A:
print(x[4])

#B:
print(len(x))

#C:
X[2] = 66

#D:
print(x[2])

45
5

NameError: name 'X' is not defined

In [75]:
print(x[2])

2

In [76]:
a=(0.1)
type(a)

float

In [77]:
X = (‘EKeeda’)*3
X

SyntaxError: invalid character '‘' (U+2018) (Temp/ipykernel_13064/3501535057.py, line 1)

In [78]:
set()

set()

In [79]:
a={}
a

{}

In [80]:
x= ["air", "ball", "cat", "disk"]
"labrador" in colors

NameError: name 'colors' is not defined

In [81]:
x= ["air", "ball", "cat", "disk"]
x[2]

'cat'

In [82]:
tuple1=(5,1,7,6,2)
tuple1.pop(2)
print(tuple1)

AttributeError: 'tuple' object has no attribute 'pop'

In [84]:
a={1:"A",2:"B",3:"C"}
for i,j in a.items():
    print(i,j,end=" ")

1 A 2 B 3 C

In [85]:
for i,j in a.items():
    print

In [87]:
class demo(dict):
    def __test__(self,key):
        return []
    a = demo()
    a['test'] = 7
    print(a)

NameError: name 'demo' is not defined

In [88]:
dict1 = {"key1":1, "key2":2}
dict2 = {"key2":2, "key1":1}
print(dict1 == dict2)

True

In [90]:
a={1: 'A', 2: 'B'}
type(a)

dict

In [91]:
a={}
type(a)

dict

In [93]:
dict([[1,'A'],[2,'B']])

{1: 'A', 2: 'B'}

In [94]:
sampleDict = dict([
    ('first', 1),
    ('second', 2),
    ('third', 3)
])
print(sampleDict)

{'first': 1, 'second': 2, 'third': 3}

In [96]:
d = {'john':40, 'peter':45}

A:
d.delete(“john”:40)

B:
d.delete(“john”)

C:
del d[“john”]

D:
del d(“john”:40)

In [97]:
d.delete('john':40)

SyntaxError: invalid syntax (Temp/ipykernel_13064/4187995401.py, line 1)

In [98]:
del d['john']

In [99]:
d

{'peter': 45}

In [100]:
d = {'john':40, 'peter':45}
del d('john':40)

SyntaxError: invalid syntax (Temp/ipykernel_13064/2438367469.py, line 2)

In [101]:
dict={'Phy':94,'Che':70,'Bio':82,'Eng':95}
dict.update({'Che':72,'Bio':80})

In [102]:
dict

{'Phy': 94, 'Che': 72, 'Bio': 80, 'Eng': 95}

In [103]:
a={'a' : "Apple", 'b' : "Banana" , 'c' : "Cat"}
print(a[1])

KeyError: 1

In [104]:
a={1:"A",2:"B",3:"C"}
del a

In [105]:
a

NameError: name 'a' is not defined

In [106]:
def interest(principal =1000, rate, time)

SyntaxError: non-default argument follows default argument (Temp/ipykernel_13064/2618896308.py, line 1)

In [107]:
10 * (1/0)

ZeroDivisionError: division by zero

# set and tuple

1.Using union operation add to sets containing the values of days of weeks;

In [277]:
days={"monday","tuesday","wednesday","thursday","friday","saturday","sunday"}
values={1,2,3,4,5,6,7}
print(days.union(values),end=" ")

{1, 2, 'thursday', 'sunday', 3, 4, 5, 6, 7, 'wednesday', 'friday', 'monday', 'tuesday', 'saturday'}

2.Initilize a set having months as values from January to At, then add the rest of months to it:
    InitilizeTheSet = (‘January’, ‘February’,’March’)

In [137]:
InitilizeTheSet = ('January', 'February','March')   
month=("April",'May','June','July','August','september','October','November','December')
a=list(InitilizeTheSet)
print(a)
b=list(month)
print(b)
c=a+b
print(c)
InitilizeTheSet=tuple(c)
print(InitilizeTheSet)

['January', 'February', 'March']
['April', 'May', 'June', 'July', 'August', 'september', 'October', 'November', 'December']
['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'september', 'October', 'November', 'December']
('January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'september', 'October', 'November', 'December')

In [131]:
import calendar

3.Create a freeze set containg name of weeks and delete the last elemnt of the set:

In [288]:
weeks={"sunday","monday","tuesday","wednesday","thursday","friday","saturday"}
print(weeks)
weeks.discard("saturday")
print(weeks)

{'wednesday', 'thursday', 'sunday', 'friday', 'monday', 'tuesday', 'saturday'}
{'wednesday', 'thursday', 'sunday', 'friday', 'monday', 'tuesday'}

In [284]:
weeks=set(("sunday","monday","tuesday","wednesday","thursday","friday","saturday"))
for weeks in weeks:
    print(weeks,end=" ")

thursday saturday wednesday friday tuesday monday sunday

In [285]:
weeks

'sunday'

4.Make a set containing week days and print the values from Monday to Sunday

    Hint: use frozenset

In [286]:
x={"Sunday":1,"Monday":2,"Tuesday":3,"Wednesday":4,"Thursday":5,"Friday":6,"Saturday":7}
key=frozenset(x)
print(key)

frozenset({'Saturday', 'Friday', 'Wednesday', 'Tuesday', 'Sunday', 'Monday', 'Thursday'})

5.Find if the value x is in the given tuple:

        Valuee = (‘EkeedaIsTheBest’)

In [141]:
Valuee=('EkeedaIsTheBest')
if 'x' in Valuee:
    print("yes")
else:
    print("no")

no

6.Print the tuple values 5 times
    Value = (‘ekeeda’’)

In [150]:
Value = ('ekeeda ')
print(Value*5,)

ekeeda ekeeda ekeeda ekeeda ekeeda

7.Sort a tuple of tuple of tuples based on the second item in it :

        tup = ((x, 20), (y, 10), ('y', 45), ('z', 33))

In [179]:
tup = (('x', 20), ('y', 10), ('y', 45), ('z', 33))
a=list(tup)
print(a)
lst=len(a)
for i in range(0,lst):
    for j in range(0,lst-i-1):
        if (a[j][1]>a[j+1][1]):
            temp=a[j]
            a[j]=a[j+1]
            a[j+1]=temp
print(a)            
tup=tuple(a)
print()
print(tup)

[('x', 20), ('y', 10), ('y', 45), ('z', 33)]
[('y', 10), ('x', 20), ('z', 33), ('y', 45)]

(('y', 10), ('x', 20), ('z', 33), ('y', 45))

In [171]:
lst=len(a)
print(lst)
for i in range(0,4):
    print()
print(i)

4




3

In [159]:
range(0,4-4-1)

range(0, -1)

In [164]:
print(j)
print(i)

0
3

In [181]:
tup = (('x', 20), ('y', 10), ('y', 45), ('z', 33))
print(tup)
a=list(tup)
print(a)

(('x', 20), ('y', 10), ('y', 45), ('z', 33))
[('x', 20), ('y', 10), ('y', 45), ('z', 33)]

In [183]:
a[0][1]

20

In [184]:
a[0+1][1]

10

In [185]:
20>10

True

In [187]:
temp=a[0]
print(temp)

('x', 20)

In [188]:
a[0]

('x', 20)

In [189]:
a[j+1]

('y', 10)

In [191]:
a[0]=a[j+1]

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (Temp/ipykernel_13064/3924350120.py, line 1)

In [193]:
a[0]

('y', 10)

In [194]:
a[j+1]=temp

In [195]:
a[j+1]

('x', 20)

In [172]:
range(0,4-3-1)

range(0, 0)

In [177]:
print(a)
a[0]

[('y', 10), ('x', 20), ('z', 33), ('y', 45)]

('y', 10)

In [174]:
print(j)

0

8.Write a Python program to see if the given sets have no common elements?
x = {1,2,3,4}
y = {4,5,6,7}
z = {8,9,10}

In [203]:
x = {1,2,3,4}
y = {4,5,6,7}
z = {8,9,10}

In [202]:
a=x.intersection(y)
print(a)
c=a.intersection(z)
print(c)

{4}
set()

In [206]:
x = {1,2,3,4}
y = {4,5,6,7}
z = {8,9,10}

print(x)
print(y)
print(z)
print(x.isdisjoint(y))

print(z.isdisjoint(x))

print(y.isdisjoint(z))

{1, 2, 3, 4}
{4, 5, 6, 7}
{8, 9, 10}
False
True
True

9.Write a Python program to compute the sum of nested tuples:
    nums = [(1,2,22), (2,44,-44), (2,4), (2,2,2,2.2)]

In [225]:
nums = [(1,2,22), (2,44,-44), (2,4), (2,2,2,2.2)]
a=list(nums)
print(a)
print()
for i in a:
    sum=0
    for j in i:
        sum=sum+j
    print(sum,end=",")

[(1, 2, 22), (2, 44, -44), (2, 4), (2, 2, 2, 2.2)]

25,2,6,8.2,

In [218]:
a = [[25,3,4],[28,1,2],[30,31,2]]
b = 1
for i in a:
    sum = 0
    for j in i:                                  
        sum = sum+j
   
    print("sum of row %d : "%b,sum)

sum of row 1 :  32
sum of row 1 :  31
sum of row 1 :  63

In [217]:
a = [[25,3,4],[28,1,2],[30,31,2]]
b = 1
for i in a:
    sum = 0
    for j in i:                                  
        sum = sum+j
   
    print("sum of row %d : "%b,sum)
    b +=1

sum of row 1 :  32
sum of row 2 :  31
sum of row 3 :  63

10.Return a set of elements that are not present in both sets A and B:
    A = {30, 40, 50, 60, 70}
    B = {10, 20, 30, 40, 50}

In [231]:
A = {30, 40, 50, 60, 70} 
B = {10, 20, 30, 40, 50}

A.symmetric_difference(B)

{10, 20, 60, 70}

11.sett= {"a", "b", "c"}
li = ["x", "y", "z"]
Add a list of elements to a set;
sett= {"a", "b", "c"}
li = ["x", "y", "z"]

In [240]:
sett= {"a", "b", "c"} 
li = ["x", "y", "z"]
sett.update(li)
print(sett)

{'c', 'x', 'a', 'y', 'b', 'z'}

In [237]:
li

['x', 'y', 'z', {'a', 'b', 'c'}]

12.Write a Python program to find the total number of times an item appeared in the tuple.
Item= 2, 4, 5, 6, 2, 3, 4, 4, 7

In [290]:
Item= 2, 4, 5, 6, 2, 3, 4, 4, 7

type(Item)
Item.count(4)

3

13.Tuple operations;
Var = ('p','r','o','g','r','a','m','i','n’, ‘i’,’s’,’f’,’u’,’n')

Print values between 5-8; 6-11; 5-9

In [258]:
Var = ('p','r','o','g','r','a','m','i','n’, ‘i’,’s’,’f’,’u’,’n')
print(len(Var))
#values between 5-8
print(Var[5:8])
#values between 6-11
print(Var[6:11])
#value between 5-9
print(Var[5:9])

9
('a', 'm', 'i')
('m', 'i', 'n’, ‘i’,’s’,’f’,’u’,’n')
('a', 'm', 'i', 'n’, ‘i’,’s’,’f’,’u’,’n')

14.Remove the elements from the set in single operation
    set1 = {10, 20, 30, 40, 50}

In [293]:
set1 = {10, 20, 30, 40, 50}
set1.clear()
print(set1)

set()

15.Evaluate if the values in the tuple are same.

    Tup = (11,11,11,11,11)

In [275]:
tup=(11,11,11,11,11)
for i in tup:
    if (i==tup[0]):
        print("yes")
    else:
        print("no")

yes
yes
yes
yes
yes

In [272]:
tup

(11, 11, 11, 11, 11)

In [273]:
i

11

In [276]:
tup[0]

11

# Dictionary,dictionary comprehension

1.Use dictionary comprehension to make dictionary from following keys and values given;

keys = ['E','K','E','E','D','A']
values = [1,2,3,4,5,6]

In [330]:
keys = ['E','K','E','E','D','A']
values = [1,2,3,4,5,6]
dict1={}
for i in keys:
    for j in values:
        dict1[i]=j
        values.remove(j)
        
print(dict1)

{'E': 4, 'K': 6}

In [326]:
keys = ['E','K','E','E','D','A']
values = [1,2,3,4,5,6]
a=dict(zip(keys,values))
print(a)

TypeError: 'dict' object is not callable

In [328]:
test_keys = ["Rash", "Kil", "Varsha"]
test_values = [1, 4, 5]
res = dict(zip(test_keys, test_values))

TypeError: 'dict' object is not callable

In [327]:
def test(keys, values):
    return dict(zip(keys, values))

l1= ['E','K','E','E','D','A']
l2= [1,2,3,4,5,6]     
print("Original lists:")
print(l1)
print(l2)
print("\nCombine the values of the said two lists into a dictionary:")
print(test(l1, l2))

Original lists:
['E', 'K', 'E', 'E', 'D', 'A']
[1, 2, 3, 4, 5, 6]

Combine the values of the said two lists into a dictionary:

TypeError: 'dict' object is not callable

2.Write a Python program to add a key to a dictionary.
Dicti = {0:’a’, 1:’a’}

In [334]:
Dicti = {0:'a', 1:'a'}
Dicti.update({2:'a'})
print(Dicti)

{0: 'a', 1: 'a', 2: 'a'}

3.Write a program to concatenate the given dictionaries;

dictt1={1:10, 2:20}
dictt2={3:30, 4:40}
dictt3={5:50,6:60}

In [335]:
dictt1={1:10, 2:20}
dictt2={3:30, 4:40} 
dictt3={5:50,6:60}
dictt4={}
for i in (dictt1,dictt2,dictt3):
    dictt4.update(i)
print(dictt4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

4.Write a Python program to convert given a dictionary to a list of tuples

In [336]:
d = {'Red': 1, 'Green': 3, 'White': 5, 'Black': 2, 'Pink': 4}
a=list(d.items())
print(a)

[('Red', 1), ('Green', 3), ('White', 5), ('Black', 2), ('Pink', 4)]

In [337]:
d.items()

dict_items([('Red', 1), ('Green', 3), ('White', 5), ('Black', 2), ('Pink', 4)])

5.Write a program to make dictionary ranging between keys 7-14(both excluded) and the values are square of the keys

In [340]:
dict1={}
for i in range(7,15):
    dict1[i]=i**2
print(dict1)

{7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196}

6.Write a program to create a dictionary containing some values and add all the value from that dictionary;

In [347]:
d = {'Red': 1, 'Green': 3, 'White': 5, 'Black': 2, 'Pink': 4}
val=d.values()
a=0
print(val)
for i in val:
    a=a+i
print("the value is :",a)

dict_values([1, 3, 5, 2, 4])
15

In [348]:
1+3+5+2+4

15

7.From the dictionary given below, sort the elements based on the keys;
    dictt = {‘dh’:5, ‘ani’:6,’zimb’: 8}

In [357]:
dictt = {'dh':5, 'ani':6,'zimb': 8}
print(sorted(dictt.items()))

[('ani', 6), ('dh', 5), ('zimb', 8)]

In [359]:
sort={i:j for i,j in sorted(dictt.items()) }
print(sort)

{'ani': 6, 'dh': 5, 'zimb': 8}

8.Create a data for 2 students using dictionary and print it line by line;

In [360]:
keys=["Name","Age"]
value=["Raj","Ragu",22,21]
a={ i:j   for i in keys for j in values }
print(a)

{}

In [361]:
students = {'student1':{'class':'V',
        'rolld_id':2},
        'student2':{'class':'V',
        'roll_id':3}}

In [362]:
students

{'student1': {'class': 'V', 'rolld_id': 2},
 'student2': {'class': 'V', 'roll_id': 3}}

In [363]:
for a in students:
    print(a)
    for b in students[a]:
        print (b,':',students[a][b])

student1
class : V
rolld_id : 2
student2
class : V
roll_id : 3

In [365]:
students[a]

{'class': 'V', 'roll_id': 3}

In [364]:
for b in students[a]:
    print (b,':',students[a][b])

class : V
roll_id : 3

9.Print a dictionary with key values in a table manner;
dict_num = {1: ‘a’, 2: ‘b’, 3: ‘c’, 4: ‘d’, 5: ‘e’, 6: ‘f’}

In [370]:
dict_num = {1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'e', 6: 'f'}
for key, value in dict_num.items():
    print(f'{key: <10}{value}')

1         a
2         b
3         c
4         d
5         e
6         f

10.Print the dictionary where we drop the empty value from the dictionary;
    dict_num = {1: ‘a’, 2: ‘b’, 3: ‘c’, 4: ‘d’, 5: ‘e’, 6: None}

In [372]:
dict_num = {1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'e', 6: None}
dict_num.popitem()
print(dict_num)

{1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'e'}

In [373]:
x = {key:value for (key, value) in dict_num.items() if value is not None}
print(x)

{1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'e'}

In [375]:
dict_num = {1: 'a', 2: 'b',3:None, 4: 'd', 5: 'e', 6: None}
x = {key:value for (key, value) in dict_num.items() if value is not None}
print(x)

{1: 'a', 2: 'b', 4: 'd', 5: 'e'}

11.Check if there’s a particular value in a dict;

In [377]:
dict_num = {1: 'a', 2: 'b',3:None, 4: 'd', 5: 'e', 6: None}
print('a'in dict_num.values())

True

In [379]:
x=dict_num.values()
if dict_num.values()==x:
    print("True")
else:
    print("False")

False

In [380]:
A=print(x)

dict_values(['a', 'b', None, 'd', 'e', None])

In [381]:
B=print(dict_num.values())

dict_values(['a', 'b', None, 'd', 'e', None])

In [382]:
A==B

False

12.Check the key for the minimum value in a dictionary;
    dictt = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}

In [386]:
dictt = { 'Physics': 82, 'Math': 65, 'history': 75 }
a=dictt.values()
print(a)
b=list(a)
print()
print(min(b))

dict_values([82, 65, 75])

65

13.Write a program to add multiple keys into dictionary;

dictt= {'person':{ "Name" : "Simulen", 
          "City" : "CA", 
          "Country" : "USA"}}

In [394]:
dictt= {'person':{ "Name" : "Simulen", "City" : "CA", "Country" : "USA"}}

In [396]:
dictt = {'person':{'name':'simuen','city':'CA','country':'USa'}}

a = {'age':27,'Year':2022}

dictt.update(a)

print(dictt)

{'person': {'name': 'simuen', 'city': 'CA', 'country': 'USa'}, 'age': 27, 'Year': 2022}

14.Convert string to dictionary ;

stringg= ‘ekeeda’

In [387]:
stringg= 'ekeeda'
dictionary = dict(subString.split("=") for subString in stringg.split(";"))

TypeError: 'dict' object is not callable

In [399]:
string ='ekeeda'

a=dict([(string,None)])
print(a)

TypeError: 'dict' object is not callable

15.Create a dictionary having Values=key*key and keys ranging from 1 to n

In [392]:
n = 10
numbers = {}
for i in range(1, n+1):
    numbers[i] = i * i
print(numbers)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

# Functions

1.Write a program to add and subtract two numbers using a function;
    Addition, subtraction = calculation(5,6)

In [417]:
def num(a,b):
    print("Addition ",a+b)
    print("Subtraction ", a-b)
num(5,6)

Addition  11
Subtraction  -1

2.Create a function containing names of your friends; with default value of schools as DAV

In [419]:
def names():
    DAV=("Goutham","Mahendra","Vishwa","Anusha","Gunjan","Kusuma")
    return DAV
names()

('Goutham', 'Mahendra', 'Vishwa', 'Anusha', 'Gunjan', 'Kusuma')

3.The given function is called using friends(“name”) now call it using different name like amigo
def friends(name):
    print("Name:", name)

friedns("x")

In [523]:
def friends():
    print('Goutham',", ",'Mahendra',", ", 'Vishwa',", " ,'Anusha', ", ",'Gunjan',", " ,'Kusuma')
amigo=friends()
print(amigo)

Goutham ,  Mahendra ,  Vishwa ,  Anusha ,  Gunjan ,  Kusuma
None

4.Write a function which prints all the even numbers between 1-50;

In [424]:
def even():
    for i in range(1,51):
        if i%2==0:
            print(i,end=",")
even()

2,4,6,8,10,12,14,16,18,20,22,24,26,28,30,32,34,36,38,40,42,44,46,48,50,

5.Return sum of all numbers from a list;
    Nums = (1,2,3,4,5,6,7,7,8,9,10)

In [426]:
nums=(1,2,3,4,5,6,7,7,8,9,10)
sum=0
for i in nums:
    sum=sum+i
print(sum)

62

In [471]:
nums=(1,2,3,4,5,6,7,7,8,9,10)
def sum1(x):
    sum=0
    for i in x:
        sum=sum+i
    return sum
sum1(nums)

62

In [447]:
def sum1(x):
    total=0
    for i in x:
        total=total+i
        return total
nums=(1,2,3,4,5,6,7,7,8,9,10)
print(total)

NameError: name 'total' is not defined

6.WAP to print reverse of a string;
    String = “1234abcd”

In [456]:
String = '1234abcd'
String[::-1]

'dcba4321'

In [461]:
String = '1234abcd'
def rev(x):
    a=x[::-1]
    return a
    
b=rev(String)    
b

'dcba4321'

7.WAP to print factorial of a number ;
    Numm = 10

In [462]:
num=10
f=1
for i in range(1,num+1):
    f=f*i
print(f)

3628800

In [467]:
def factorial(n):
    f=1
    for i in range(1,n+1):
        f=f*i
        return f
num=10
print("Factorial",num,"is", factorial(num))

Factorial 10 is 1

In [469]:
def factorial(n):
       
    res = 1
      
    for i in range(1, n+1):
        res *= i
    return res
 # Driver Code
num = 10;
print("Factorial of", num, "is",
factorial(num))

Factorial of 10 is 3628800

In [470]:
def factorial(n):
    f=1
    for i in range(1,n+1):
        f=f*i
    return f
num=10
factorial(num)

3628800

8.WAP to calculate number of uppercase and lowercase characters in a string
    Strinng = “Ekeeda Is The Best Destination for DS”

In [478]:
Strinng = 'Ekeeda Is The Best Destination for DS'

False

In [479]:
Strinng = 'Ekeeda Is The Best Destination for DS'
u=0
l=0
for i in Strinng:
    if (i.islower()):
        l=l+1
    else:
        u=u+1
print("Number of uppercase",u)
print("Number of lowercase",l)

Number of uppercase 13
Number of lowercase 24

In [480]:
def case(x):
    upper=0
    lower=0
    for i in x:
        if(i.islower()):
            lower=lower+1
        else:
            upper=upper+1
    print("Number of uppercase",upper)
    print("Number of lowercase",lower)
Strinng = 'Ekeeda Is The Best Destination for DS'    
case(Strinng)

Number of uppercase 13
Number of lowercase 24

9.WAP to check if number is prime or not;

In [483]:
num=7
count=0
for i in range(1,num+1):
    if num%i==0:
        count=count+1
if count==2:
    print("prime")
else:
    print("not")

prime

In [484]:
num=7
def prime(x):
    count=0
    for i in range(1,x+1):
        if x%i==0:
            count=count+1
    if count==2:
        print("Prime")
    else:
        print("Not prime")
    
prime(num)

Prime

10.WAP to check a string is palindrome or not
Hint: palindrome is a string that is same forwards and backwards 
Eg: MOM/Mam/MAdam ; it is same if you read it backwards

In [490]:
def isPalindrome(s):
    return s == s[::-1]
 
s = "malayalam"
ans = isPalindrome(s)
 
if ans:
    print("Yes")
else:
    print("No")

Yes

In [492]:
x = "rahul"
 
w = ""
for i in x:
    w = i + w
if (x == w):
    print("Yes")
else:
    print("No")

No

11.WAP to print the square of numbers between range 1-10 both included

In [497]:
for i in range(1,11):
    print(i**2,end=',')

1,4,9,16,25,36,49,64,81,100,

In [501]:
def sqr():
    for i in range(1,11):
        print(i**2,end=",")
sqr()

1,4,9,16,25,36,49,64,81,100,

12.WAP that takes squarerrot of a number and runs after a specified delay ;
Hint: you have to import time module with sleep ;

In [503]:
import time
b = time.ctime()  
print(b)  
for i in range(5):  
      
     
    time.sleep(6)   
    print(i*2)  
e = time.ctime()  
print(e, flush = True)

Tue Nov 15 19:42:48 2022
0
2
4
6
8
Tue Nov 15 19:43:18 2022

In [505]:
import time 
def sqrt():
    b = time.ctime()
    print(b)
    for i in range(5):
        time.sleep(6)
        print(i*2)
    e= time.ctime()
    print(e, flush=True)
    
        
    
sqrt()

Tue Nov 15 19:47:48 2022
0
2
4
6
8
Tue Nov 15 19:48:18 2022

13.WAP to print even numbers from a list;
    Lii = [1,2,3,4,5,6,7,8,9,10,11,12]

In [507]:
Lii = [1,2,3,4,5,6,7,8,9,10,11,12]
for i in Lii:
    if i%2==0:
        print(i,end=",")

2,4,6,8,10,12,

In [508]:
def even():
    Lii = [1,2,3,4,5,6,7,8,9,10,11,12]
    for i in Lii:
        if i%2==0:
            print(i,end=",")
even()

2,4,6,8,10,12,

14.WAP to print maximum of a three numbers given;
    Nums = [4,2,9]

In [509]:
Nums = [4,2,9]
max(Nums)

9

In [511]:
def maximum():
    Num=[4,2,9]
    return max(Num)
maximum()

9

15.WAP to eliminate duplicate numbers from a list;
    Lii = [1,2,2,2,3,4,4,5,6,7,8,8]

In [515]:
Lii = [1,2,2,2,3,4,4,5,6,7,8,8]
a=set(Lii)
Lii=list(a)
print(Lii)

[1, 2, 3, 4, 5, 6, 7, 8]

In [517]:
def dup():
    Lii = [1,2,2,2,3,4,4,5,6,7,8,8]
    a=set(Lii)
    Lii=list(a)
    return Lii
dup()

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
try:
    client_obj.get_url(url)
except (URLError, ValueError):
    client_obj.remove_url(url)
except SocketTimeout:
    client_obj.handle_url_timeout(url)

Because Exception can be occurred due to Syntax Errors, Logical Error and Run Time Errors, while Syntax errors occurs only due to syntax. So that “Every syntax error is an exception but every exception cannot be a syntax error.”

In [ ]:
 try:
        
        a = int(input("Enter first number: "))
        b = int(input("Enter second number: "))
        quotient=(a/b)
        if b == 0:
            raise ValueError("can't be zero")
            except ValueError:
                    print("division by zero error")
        else:
            print (quotient)